@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}
/* banner container start here */
.banner-container{
    max-width: 1500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('/new-year-offer-resources/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-year{
color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 30px;
font-weight: 250;
line-height: 35px;
margin-top: 255px;
margin-bottom: 16px;
}
.banner-text{
color: rgb(255, 255, 255);
font-size: 80px;
font-weight: 900;
line-height: 85px;
}
/* banner container end here */
/* 65% container start here */
main > .first-section-container{
    font-family: "Inter", sans-serif;
}
.first-section-container{
max-width: 802.9px;
height: 800px;
margin: 0 auto;
margin-top: 120px;
}
/* first section text style here */
.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section-head{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif;
font-size: 88px;
font-weight: 700;
line-height: 107px;
margin-bottom: 48px;
}
.section-title{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif;
font-size: 19px;
font-weight: 500;
line-height: 29px;
}
.section-text{
color: rgb(7, 2, 17);
font-family: "Inter", sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 58px;
margin-bottom: 48px;
}
/* first section image style */
.section-image{
width: 802.9px;
height: 500px;
}
.section-image img{
    width: 100%;
    height: 100%;
}
/* first section container end here */