@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}
/* banner container start here */
.banner-container{
    max-width: 1500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('./images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-year{
color: rgb(255, 255, 255);
font-family: "Merriweather", serif;
font-size: 30px;
font-weight: 250;
line-height: 35px;
margin-top: 255px;
margin-bottom: 16px;
}
.banner-text{
color: rgb(255, 255, 255);
font-size: 80px;
font-weight: 900;
line-height: 85px;
}
/* banner container end here */
/* 65% container start here */
main > .first-section-container{
    font-family: "Inter", sans-serif;
}
.first-section-container{
max-width: 802.9px;
height: 800px;
margin: 0 auto;
margin-top: 120px;
}
/* first section text style here */
.section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section-head{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif;
font-size: 88px;
font-weight: 700;
line-height: 107px;
margin-bottom: 48px;
}
.section-title{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif;
font-size: 19px;
font-weight: 500;
line-height: 29px;
}
.section-text{
color: rgb(7, 2, 17);
font-family: "Inter", sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 58px;
margin-bottom: 48px;
}
/* first section image style */
.section-image{
width: 802.9px;
height: 500px;
}
.section-image img{
    width: 100%;
    height: 100%;
}
/* first section container end here */

/* midnight party start here */
main > .midnight-container{
    font-family: "Inter", sans-serif;
}
.midnight-container{
max-width: 1500px;
height: 700px;
margin: 0 auto;
margin-top: 120px;
background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('./images/Vectorrr.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/* midnight content */
.midnight-content{
    display: flex;
    justify-content: center;
    gap: 94px;
    align-items: center;
}
/* midnight text style */
.midnight-party{
    margin-top: 120px;
}
.midnight-title{
color: rgb(255, 255, 255);
font-family: "Merriweather", serif;
font-size: 64px;
font-weight: 900;
line-height: 88px;
width: 642px;
height: 176px;
margin-bottom: 24px;
}
.midnight-text{
color: rgba(255, 255, 255, 0.8);
font-family: "Inter", sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 697px;
height: 60px;
}
.midnight-btn{
background-color: black;
color: rgb(255, 255, 255);
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 700;
line-height: 24px;
border: none;
margin-top: 48px;
}
/* midnight image */
.midnight-image{
width: 349.16px;
height: 464.65px;
margin-top: 60px;
}
.midnight-image img{
    width: 100%;
    height:100%;
}
/* midnight party end here  */
/* place date time box start */
.text-container{
max-width: 1500px;
height: 482px;
margin: 0 auto;
margin-top: 120px;
border-radius: 16px;
background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* text content style */
.text-content{
width: 549px;
height: 168px;
text-align: center;
}
.text-content-sub{
font-family: "Inter", sans-serif; 
font-size: 32px;
font-weight: 600;
line-height: 56px;
}
span{
    color: rgba(219, 9, 9, 0.959);
}
.text-btn{
color: rgb(255, 255, 255);
font-family: "Inter", sans-serif; 
font-size: 15px;
font-weight: 600;
line-height: 24px;
padding: 10px 20px 8px 20px;
border-radius: 8px;
background: rgb(255, 0, 0);
margin-top: 30px;
border: none;
}
/* place date time box end here */
/* image text start here */
.image-container{
   max-width: 1500px;
   height: 463px;
   margin: 0 auto;
   margin-top: 120px;
   margin-bottom: 120px;
}
.image-content{
    display: flex;
    justify-content: row;
    align-items: center;
}
/* image text style */
.image-text{
 width: 33%;
 margin-right: 50px;


}
.image-head{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif; 
font-size: 15px;
font-weight: 600;
line-height: 29px;
}
.image-title{
color: rgb(7, 2, 17);
font-family: "Merriweather", serif;
font-size: 30px;
font-weight: 900;
line-height: 60px;
}
.image-sub{
 color: rgba(7, 2, 17, 0.6);
 font-family: "Inter", sans-serif; 
font-size: 15px;
font-weight: 400;
line-height: 32px;
}
/* image style */
.image{
width: 463px;
height: 463px;
margin-right: 100px;
border: 15px solid rgb(255, 0, 0);
border-radius: 50%;
}
.image-box{
width: 364.84px;
height: 364.84px;
margin: 40px;
}
.image-box img {
    width: 100%;
    height: 100%;
}
/* image text two style */
.image-text-two{ 
width: 276px;
height: 170px;
margin-left: 115px; 
}
.image-header{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif; 
font-size: 40px;
font-weight: 700;
line-height: 58px;
}
.image-subtitle{
color: rgba(7, 2, 17, 0.6);
font-family: "Inter", sans-serif; 
font-size: 15px;
font-weight: 400;
line-height: 32px;
}
#image{
width: 140px;
height: 140px;
margin-top: 45px;
}
#image img{
    width: 100%;
    height: 100%;
}
/* image text end here */
/* Holiday sell 50% start here */
.holiday-container{
max-width: 1500px;
height: 986.07px;
margin: 0 auto;
margin-top: 120px;
position: relative;
}
.style-color{
width: 1500px;
height: 229px;
background-color: red;
position: absolute;
top: 77%;
}
/* holiday content style here */
.holiday-content{
width: 1068px;
height: 260px;
text-align: center;
margin: 0 226px;
}
.holiday-head{
color: rgb(7, 2, 17);
font-family: "Inter", sans-serif; 
font-size: 20px;
font-weight: 500;
line-height: 29px;
margin-bottom: 16px;
}
.holiday-title{
font-family: "Merriweather", serif;
font-size: 72px;
font-weight: 900;
line-height: 91px;
margin-bottom: 20px;
}
.holiday-text{
color: rgba(7, 2, 17, 0.6);
font-family: "Inter", sans-serif; 
font-size: 15px;
font-weight: 500;
line-height: 32px;
}
/* holiday content image style */
.holiday-content-images{
max-width: 1500px;
height: 662.07px;
margin-top: 64px;
position: absolute;
display: flex;
justify-content: space-around;
align-items: center;
}
/* left image style */
.left-image{
width: 796.46px;
height: 662.07px;
}
.left-image img{
    width: 100%;
    height: 100%;
}
/* right image style */
.right-image{
width: 305.69px;
height: 305.69px;
margin: 100px 40px 270px 500px;
}
.right-image img{
    width: 100%;
    height: 100%;
}
/* Holiday sell 50% end here */
/* Awesome portfolio start here */
.portfolio-container{
max-width: 1500px;
height: 1163px;
margin: 0 auto;
margin-top: 120px;
}
.portfolio-head{
color: rgb(255, 0, 0);
font-family: "Inter", sans-serif; 
font-size: 20px;
font-weight: 600;
line-height: 29px;
}
.portfolio-title{
color: rgb(7, 2, 17);
font-family: "Merriweather", serif;
font-size: 35px;
font-weight: 900;
line-height: 60px;
}
.portfolio-text{
color: rgba(7, 2, 17, 0.6);
font-family: "Inter", sans-serif; 
font-size: 15px;
font-weight: 400;
line-height: 32px;
width: 696px;
height: 64px;
}
/* portfolio images */
.portfolio-content{
max-width: 1500px;
height: 1010px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: row;
flex-wrap: wrap;
}
.portfolio-images{
width: 424px;
height: 450px;
margin-top: 48px;
}
.portfolio-image img{
    width: 100%;
    height: 100%;
}
/* Awesome portfolio end here */
/* Subscribe section stat here */
.subscribe-container{
max-width: 1500px;
height: 616px;
margin: 0 auto;
margin-top: 120px;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
}
.subscribe-content{
width: 796px;
height: 300px;
margin: 80px 320px 0 320px;
text-align: center;
}
/* subscribe image content start here */
.subscribe-image{
width: 150px;
height: 150px;
margin-bottom: 40px;
}
.subscribe-image img{
    width: 100%;
    height: 100%;
}
/* subscribe image content end here */
/* subscribe text content start here */
.subscribe-title{
color: rgb(7, 2, 17);
font-family: "Merriweather", serif;
font-size: 48px;
font-weight: 900;
line-height: 60px;
margin-bottom: 22px;
}
.subscribe-text{
color: rgba(7, 2, 17, 0.6);
font-family: "Inter", sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 32px;
}
/* subscribe text content end here */
/* subscribe button start here */
.subscribe-btn{
width: 648px;
height: 72px;
margin: 48px 350px 40px 385px;
display: flex;
justify-content: space-between;
}
.btn-text{
color: rgba(7, 2, 17, 0.3);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 22px;
margin: 25px 30px 25px 30px;
}
.color-btn{
width: 210px;
height: 72px;
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 600;
border-radius: 0px 50px 50px 0px;
color: white;
background: rgb(255, 0, 0);
border: none;
}
/* Subscribe section end here */
/* footer start here */
.footer-container{
    width: 1686px;
    height: 609px;
    margin: a auto;
    margin-top: 120px;
    margin-bottom: 120px;
    background: rgb(7, 2, 17);
}
.footer-content{
    width: 1185px;
height: 80px;
margin: 0 auto;
padding: 50px;
color: aliceblue;
display: flex;
justify-content: space-between;
}
.footer-image{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}
.footer-end-text{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    color: aliceblue;
}
